<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-bar">
        <div class="header-div">
          <img
            class="logo"
            src="/images/logo-mercado-liebre.svg"
            alt="Logo de Mercado Liebre"
          />
          <div class="topnav">
            <input type="text" placeholder="Buscar productos, marcas..." />
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="bottom-header-div">
          <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
          de créditos
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <i class="far fa-id-card"></i
            ><a href="/register"> Crea tu cuenta</a>
          </li>
          <li>
            <i class="fas fa-sign-in-alt"></i><a href="/login"> Ingresa</a>
          </li>
          <li>
            <i class="fas fa-shopping-basket"></i><a href=""> Mis compras</a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="Banner"/ class="banner-img">
    </section>
    <main class="main-login">
        <br><br><br>
      <form action="/" method="GET" class="login-form">
        <div class="control-form">
          <input
            type="text"
            name="nombreUsuario"
            class="input-register"
            placeholder="Nombre de usuario"
          />
        </div>
        <br>
        <div class="control-form">
          <input
            type="password"
            name="pass"
            id="pass"
            placeholder="Contraseña"
            class="input-register"
          />
        </div>
        <div class="register-buttons">
          <button type="submit" class="register-button">Enviar</button>
        </div>
        <br><br>
      </form>
    </main>
    <footer>
        <section>
          <div class="credit-card">
            <i class="fas fa-credit-card"></i>
          </div>
          <b>Pagá con tarjeta o en efectivo</b>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <div class="gift">
            <i class="fas fa-gift"></i>
          </div>
          <b>Envío gratis desde $ 2.500</b>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <div class="shield">
            <i class="fas fa-user-shield"></i>
          </div>
          <b>Seguridad, de principio a fin</b>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </section>
        <section>
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
      </footer>
  </body>
</html>
